p {
    color: green;
}

.highlight {
    background: yellow;
    padding: 5px;
}

#Header {
    background: blue;
    color: white;
    padding: 10px;
}

.ph:hover {
    color: red;
    background-color: blueviolet;
    cursor: pointer;
}

input[type="text"] {
    border: 2px solid blue;
    padding: 8px;
    border-radius: 5px;
}

input[type="text"] {
    border-color: rgb(255, 0, 128);
    outline: none;
    background-color: gray;
}

.body1 {
    font-family: Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.body2 {
    font-family: Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.body3 {
    font-family: Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.parent {
    font-size: 16px;
    border: 2px solid gray;
    padding: 20px;
    margin-top: 20px;
}

.child-title {
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.child-text {
    font-size: 1.2em;
    color: darkgray;
}

.fixed-text {
    font-size: 18px;
    color: cadetblue;
}

.h1 {
    font-size: 40px;
    text-shadow: 5px 5px 5px red;
}

.p {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    word-wrap: break-word;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.underline {
    text-decoration: underline;
}

.line-throgh {
    text-decoration: line-through;
}

.none {
    text-decoration: none;
}

.line-height-1x5 {
    line-height: 1.5;
}

.line-height-24 {
    line-height: 24px;
}

.bg-color1 {
    background-color: lightblue;
}

.bg-img {
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-all {
    background: url('bg.jpg') no-repeat center / cover;
}

.box-color {
    width: 300px;
    height: 120px;
    background-color: lightblue;
    padding: 20px;
}

.box-img {
    width: 300px;
    height: 300px;
    background-image: url('Pic/MyPhoto1.jpg');
    background-size: cover;
    /*ปรับให้รูปเต็มกรอบ*/
    background-repeat: no-repeat;
    /*ไม่ต้องการให้รูปซ้ำ*/
    background-position: center;
    /*จัดให้รูปอยู่ตรงกลาง*/
    border: 2px solid #333;
}

.box-short {
    width: 300px;
    height: 300px;
    background: url('Pic/MyPhoto1.jpg') no-repeat center / cover;
    border: 2px;
}